<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuge.ing.seata.store.mapper.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuge.ing.seata.store.po.CommodityEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="crt_time" property="crtTime" />
        <result column="upd_time" property="updTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, crt_time, upd_time, deleted
    </sql>

</mapper>
